@charset "utf-8";

.board_title {
	text-align: left;
}

#vue_board_detail {
	min-height: 680px;
}

.board_detail_up_down {
	text-align: center;
    font-weight: 1000;
}

.board_detail_up_down > img {
	width: 50px;
	cursor: pointer;
}

.board_detail_viewCount_up_down {
	float: right;
}

.board_detail_replay, .board_detail_list {
	cursor: pointer;
}

.board_detail_list {
	float: right;
}

.board_popularity {
	background: red;
    color: white;
    margin-left: 10px;
}
.board_detail_previous_next {
	float: right;
	cursor: pointer;
}

.board_detail_up_count {
    color: blue;
}

.board_detail_down_count {
    color: red;
}

.board_detail_up {
	cursor: pointer;
}

.board_detail_down {
	cursor: pointer;
}

.board_up_img > img, .board_down_img > img {
	max-width: 22px;
}

.board_up {
	color: blue;
}

.board_down {
	color: red;
}