@charset "utf-8";

.board_title {
	text-align: left;
}

#vue_board_detail {
	min-height: 680px;
}

.board_detail_up_down {
	text-align: center;
    font-weight: 1000;
    padding-top: 30px;
}

.board_detail_up_down > img {
	width: 50px;
	cursor: pointer;
}

.board_detail_viewCount_up_down {
	float: right;
}

.board_detail_replay, .board_detail_list {
	cursor: pointer;
}

.board_detail_list {
	float: right;
}

.board_popularity {
	background: red;
    color: white;
    margin-left: 10px;
}
.board_detail_previous_next {
	float: right;
	cursor: pointer;
}

.board_detail_up_count {
    color: blue;
}

.board_detail_down_count {
    color: red;
}

.board_detail_up {
	cursor: pointer;
}

.board_detail_down {
	cursor: pointer;
}

.board_up_img > img, .board_down_img > img {
	max-width: 22px;
}

.board_up {
	color: blue;
}

.board_down {
	color: red;
}

.board_detail_reply {
    min-height: 100px;
    width: 100%;
    margin-top: 10px;
}

.board_detail_reply_button {
	padding-top: 10px;
}

.board_detail_reply_save {
	float: right;
}

button {
    color: #FFFFFF;
    background-color: #373737;
    border: 0;
    cursor: pointer;
}

.board_text_search {
	float: right;
}

.board_text_search_textarea {
	height: 31px;	
}

.board_text_search_button {
	height: 30px;
}

.board_detail_reply_view_header {
	background: #80808008;
	border-top: 1px dotted;
    padding: 0px 0px 0px 3px;
}

.board_detail_reply_view_userIp {
	float:right;
}

.board_detail_reply_view_contents {
	border-top: 1px dotted;
	border-bottom: 1px dotted;
	min-height: 60px;
	padding: 0px 0px 0px 3px;
}
